<div class="d-flex justify-content-between row">
  <div class="col">
    <h1>Clients</h1>
  </div>
  <div class="col-auto">
    <%= render partial: 'search_form' %>
  </div>
  <div class="col-auto">
    <%=
      link_to 'Create New Client',
      url_for(action: :new),
      class: 'btn btn-info',
      remote: true, method: :get,
      data: { disable_with: 'Please wait...' }
    %>
  </div>
</div>
<div id="clientsContainer">
  <%= render partial: 'table' %>
</div>
<div id="modalContainer">
</div>
